

 <footer class="mojFooter mt-auto">
                <font face="Roboto Condensed" size="4"> <center>
                <div class="container">
                    <div class="row" style="margin-top: 7px;">
                        <div class="footer my_footer">
                         <p> &nbsp; &nbsp; &nbsp;  &nbsp; &nbsp; &nbsp; &copy; V&F Tech PVT Ltd.All rights Reserved</p>
                        </div>
                    </div>
                </div>
                    </center>
                </font>

            </footer>
